@model Business.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Index";
}

 <div class="content-wrapper">
            <div class="d-xl-flex justify-content-between align-items-start">
              <h2 class="text-dark font-weight-bold mb-2"> Dashboard </h2>
              <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
                  
                </div>
                <div class="tab-content tab-transparent-content">
                  <div class="tab-pane fade show active" id="business-1" role="tabpanel" aria-labelledby="business-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="mb-2 text-dark font-weight-normal">Sifarişlər</h5>
                                    <h2 class="mb-4 text-dark font-weight-bold">&nbsp;</h2>
                                    <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-lightbulb icon-md absolute-center text-dark"></i></div>
                                    <p class="mt-4 mb-0">&nbsp;</p>
                                    <h3 class="mb-0 font-weight-bold mt-2 text-dark">@Model.OrderCount</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="mb-2 text-dark font-weight-normal">Bağlamalar</h5>
                                    <h2 class="mb-4 text-dark font-weight-bold">&nbsp;</h2>
                                    <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                                    <p class="mt-4 mb-0">&nbsp;</p>
                                    <h3 class="mb-0 font-weight-bold mt-2 text-dark">@Model.CargoCount</h3>
                                </div>
                            </div>
                        </div>
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">Müştərilər</h5>
                            <h2 class="mb-4 text-dark font-weight-bold">&nbsp;</h2>
                            <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i></div>
                            <p class="mt-4 mb-0">&nbsp;</p>
                            <h3 class="mb-0 font-weight-bold mt-2 text-dark">@Model.UserCount</h3>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">Filiallar</h5>
                            <h2 class="mb-4 text-dark font-weight-bold">&nbsp;</h2>
                            <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-eye icon-md absolute-center text-dark"></i></div>
                            <p class="mt-4 mb-0">&nbsp;</p>
                            <h3 class="mb-0 font-weight-bold mt-2 text-dark">@Model.FilialCount</h3>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>