
@{
    ViewData["Title"] = "PassVerification";
}


<table style="padding-top: 45px; padding-bottom: 45px;border-radius: 0px; border-collapse: separate;" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td class="esd-block-text es-p10t es-p15b" align="center">
            <h1>Use the link sent to your email address to update your password</h1>
        </td>
    </tr>
    </tbody>
</table>