
@{
    ViewData["Title"] = "ResetSuccess";
}



<table style="padding-top: 45px; padding-bottom: 45px;border-radius: 0px; border-collapse: separate;" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td class="esd-block-text es-p10t es-p15b" align="center">
            <h1>@if (User.Identity.IsAuthenticated)
                {
                    <p>@User.Identity.Name | Your password has been updated</p>
                }
                else
                {

                    <p>Your password has been updated</p>
                }</h1>
        </td>
    </tr>
    </tbody>
</table>