
@{
    ViewData["Title"] = "Index";
}

<!-- SECTIONS START -->
<section id="stores">
    <div class="container">
        <div class="row">
            <div class="stores-title d-flex justify-content-center">
                <b>Mağazalar</b>
            </div>
            <div class="stores-description d-flex justify-content-center text-center">
                <p>
                    Türkiyə mağazalarını sizlərə yaxın etdik. Alış-verişin ən sərfəli ünvanı <br>
                    Dynamic Express ilə istədiyiniz mağazadan onlayn sifariş edin, biz çatdıraq.
                </p>
            </div>
            <div class="location d-flex justify-content-center">
                <a href="#" class="all">Bütün</a>
                <a href="#" class="türkiye">Türkiyə</a>
                <a href="#" class="usa">ABŞ</a>
            </div>
            <div class="store-wrapper col-12">
                <div class="row justify-content-center">
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/trenyol.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/koton.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/defacto-new.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/uspoloass.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/morhipo.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/penti.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/pierre-cardin.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/Stradivarius_logo.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/mavitr.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/bershka.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/aliexpress.png" alt="">
                        </a>
                    </div>
                    <div class="store d-flex col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <a href="#stores">
                            <img src="/assets/imgs/stores/gratis.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTIONS END -->